{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit List Problem Set Generator{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ problem_set_generator['name'] }}" required>
    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>


<h1>Exercises</h1>
<hr>
<div id="react_exercise_table"></div>
<br>


<div id="exercises_json_div" exercises="{{ exercises_json }}" ></div>

<div id="remove_exercise_url_div" url="{{ url_for('problem_set_generators.remove_exercise', problem_set_generator_id=problem_set_generator['id'], exercise_id=0) }}" ></div>

<a class="action" href="{{ url_for('problem_set_generators.add_exercises', problem_set_generator_id=problem_set_generator['id']) }}">Add Exercises</a>

<form name="remove_exercise_form" action="placeholder" method="post">
  <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

{% endblock %}


{% block react_imports %}

<script src="{{ url_for('static', filename='react.development.js') }}" crossorigin></script>
<script src="{{ url_for('static', filename='react-dom.development.js') }}" crossorigin></script>

<script type="text/javascript">
{% include 'problem_set_generators/edit_list_problem_set_generator_transpiled.js' %}
</script>


<script>
 function submitRemoveExerciseForm(endpoint) {
  const confirmation = window.confirm("Are you sure you want to remove this exercise?");
  if(confirmation == false) {
    return;
  }
  document.remove_exercise_form.action = endpoint;
  document.remove_exercise_form.submit();
 }
</script>

{% endblock %}

