{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Edit Lesson {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or lesson['name'] }}" required>

    <label>Tutorial:</label>
    {% if lesson['tutorial'] is not none %}
      <div display="inline-block">
      <label>{{ lesson['tutorial']['name'] }}</label>
      <a class="action" href="{{ url_for('tutorials.edit', course_id=0, tutorial_id=lesson['tutorial']['id']) }}">Edit</a>
      <a onclick="submitDeleteTutorialForm(' {{ url_for('tutorials.delete', course_id=0, tutorial_id=lesson['tutorial']['id']) }} ')" >Delete</a>
      </div>
    {% else %}
      <div display="inline-block">
      <label>No Tutorial Set - </label>
      <a class="action" href="{{ url_for('tutorials.create', course_id=0, lesson_id=lesson['id']) }}">Create Tutorial</a>
      </div>
    {% endif %}
    <br>

    <label>Problem Set Generator:</label>
    {% if lesson['problem_set_generator'] is not none %}
      <div display="inline-block">
      <label>{{ lesson['problem_set_generator']['name'] }}</label>
      <a class="action" href="{{ edit_problem_set_generator_url }}">Edit</a>
    {% else %}

    {% endif %}

    <br>

    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

<a class="action" href="{{ url_for('topics.edit', topic_id=lesson['topic']['id']) }}">Back to Topic: {{ lesson['topic']['display_name'] }}</a>

<form id="delete_tutorial_form" action="placeholder" method="post">
  <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>


<script>
 function submitDeleteTutorialForm(endpoint) {
  const confirmation = window.confirm("Are you sure you want to delete this tutorial?");
  if(confirmation == false) {
    return;
  }
  document.getElementById("delete_tutorial_form").action = endpoint;
  document.getElementById("delete_tutorial_form").submit();
 }
</script>

{% endblock %}


