{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Lessons{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% for lesson in lessons %}
    <article class="post">
      <header>
        <div>
          <h1>{{ lesson['id'] }}</h1>
        </div>
        
      </header>
      <p class="body">{{ lesson['name'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

    <div id="react_root"></div>

    <div id="data_container" data-param='{{ lessons_json }}'></div>

{% endblock %}

{% block react_imports %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script>
{% include 'lessons/test_template.js' %}
</script>

{% endblock %}

