{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Lesson: {{ lesson['name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="display_name">Display Name</label>
    <input name="display_name" id="display_name" value="{{ request.form['display_name'] or lesson['display_name'] }}" required>
    <h1>Lesson Sections</h1>
    <hr>
    <br>
    <a class="action" href="{{ url_for('lessons.create_lesson_section', lesson_id=lesson['id']) }}">Add Lesson Section</a>
    <br>
    <div id="react_root"></div>
    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>

    {% if return_to_course_id %}
     <input type="hidden" name="return_to_course_id" value={{ return_to_course_id }}>
    {% endif %}

  </form>

  <div id="data_container" 
        lesson="{{ lesson_json }}"></div>

  <div id="update_lesson_intro_url_container" url="{{ url_for('lesson_intros.update', lesson_id=lesson['id'], lesson_section_id=0) }}"></div>
  
  {% if return_to_course_id %}
  <div id="delete_url_container" delete_lesson_section_url="{{ url_for('lessons.delete_lesson_section_for_course', course_id=return_to_course_id, lesson_id=lesson['id'], lesson_section_id=0) }}"></div>
  {% else %}
  <div id="delete_url_container" delete_lesson_section_url="{{ url_for('lessons.delete_lesson_section', lesson_id=lesson['id'], lesson_section_id=0) }}"></div>
  {% endif %}



  <form action="{{ url_for('lessons.delete', id=lesson['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>

  <form name="delete_lesson_section_form" action="placeholder" method="post">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>

{% endblock %}

{% block react_imports %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script type="text/javascript">
{% include 'lessons/update_transpiled.js' %}
</script>

<script>
 function submitDeleteLessonSectionForm(url) {
  document.delete_lesson_section_form.action = url;
  document.delete_lesson_section_form.submit();
 }
</script>

{% endblock %}



