{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Detail Section{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ detail_section['title'] }}" required>
    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
    <h1>Detail Glyphs</h1>
    <hr>
    <br>
    <div id="react_root"></div>
    <br>
    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

<form method="post" action="{{ url_for('detail_sections.create_text_glyph', detail_section_id=detail_section['id']) }}">
    <hr>
    <h2>Add Text Glyph</h2>
    <label for="text">Text</label>
    <input name="text" id="text" required>
    <input type="submit" value="Create Text Glyph">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
    <hr>
</form>

<form method="post" action="{{ url_for('detail_sections.create_formula_glyph', detail_section_id=detail_section['id']) }}">
    <hr>
    <h2>Add Formula Glyph</h2>
    <label for="formula">Formula</label>
    <input name="formula" id="formula" required>
    <input type="submit" value="Create Formula Glyph">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
    <hr>
</form>

<form method="post" enctype="multipart/form-data" action="{{ url_for('detail_sections.create_image_glyph', detail_section_id=detail_section['id']) }}">
    <hr>
    <h2>Add Image Glyph</h2>
    <label for="source_code_file">Source Code File</label>
    <input type=file name="source_code_file" id="source_code_file" required>
    <label for="image_file">Image File</label>
    <input type=file name="image_file" id="image_file" required>
    <input type="submit" value="Create Image Glyph">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
    <hr>
</form>

<div id="detail_section_container" detail_section="{{ detail_section_json }}"></div>
<div id="update_text_glyph_url" url="{{ url_for('detail_sections.update_text_glyph', detail_section_id=detail_section['id'], text_glyph_id=0) }}"></div>
<div id="update_formula_glyph_url" url="{{ url_for('detail_sections.update_formula_glyph', detail_section_id=detail_section['id'], formula_glyph_id=0) }}"></div>
<div id="update_image_glyph_url" url="{{ url_for('detail_sections.update_image_glyph', detail_section_id=detail_section['id'], image_glyph_id=0) }}"></div>


{% endblock %}


{% block react_imports %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script type="text/javascript">
{% include 'detail_sections/update_transpiled.js' %}
</script>


{% endblock %}


