{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Edit Tutorial {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or tutorial['name'] }}" required>
    <h1>Tutorial Steps</h1>
    <hr>
    <div id="react_tutorial_step_table"></div>


    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

<form method="post" action="{{ url_for('tutorial_steps.create_text_tutorial_step', course_id=course_id, tutorial_id=tutorial['id']) }}">
    <hr>
    <h2>Add Text Step</h2>
    <label for="text">Text</label>
    <input name="text" id="text" required>
    <input type="submit" value="Create Text Step">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
    <hr>
</form>

<form method="post" action="{{ url_for('tutorial_steps.create_formula_tutorial_step', course_id=course_id, tutorial_id=tutorial['id']) }}">
    <hr>
    <h2>Add Formula Step</h2>
    <label for="formula_latex">Formula</label>
    <input name="formula_latex" id="formula_latex" required>
    <input type="submit" value="Create Formula Step">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
    <hr>
</form>

<form name="delete_tutorial_step_form" action="placeholder" method="post">
  <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

<a class="action" href="{{ url_for('lessons.edit', course_id=course_id, lesson_id=tutorial['lesson']['id']) }}">Back to Lesson: {{ tutorial['lesson']['name'] }}</a>

<div id="tutorial_json_div" tutorial="{{ tutorial_json }}" ></div>
<div id="edit_text_tutorial_step_url_div" url="{{ url_for('tutorial_steps.edit_text_tutorial_step', course_id=course_id, tutorial_id=tutorial['id'], tutorial_step_id=0) }}/edit" ></div>
<div id="edit_formula_tutorial_step_url_div" url="{{ url_for('tutorial_steps.edit_formula_tutorial_step', course_id=course_id, tutorial_id=tutorial['id'], tutorial_step_id=0) }}/edit" ></div>
<div id="delete_tutorial_step_url_div" url="{{ url_for('tutorial_steps.delete', course_id=course_id, tutorial_id=tutorial['id'], tutorial_step_id=0) }}" ></div>

{% endblock %}

{% block react_imports %}

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script type="text/javascript">
{% include 'tutorials/edit_transpiled.js' %}
</script>


<script>
 function submitDeleteTutorialStepForm(endpoint) {
  const confirmation = window.confirm("Are you sure you want to delete this tutorial step?");
  if(confirmation == false) {
    return;
  }
  document.delete_tutorial_step_form.action = endpoint;
  document.delete_tutorial_step_form.submit();
 }
</script>

{% endblock %}k
