{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Concept Tutorial for {{ lesson['display_name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="display_name">Display Name</label>
    <input name="display_name" id="display_name" value="{{ concept_tutorial['display_name'] }}" required>
    <h1>Instruction Sections</h1>
    <hr>
    <br>
    <div id="react_root"></div>
    <br>
    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

<form method="post" action="{{ url_for('concept_tutorials.create_detail_section', lesson_id=lesson['id'], lesson_section_id=concept_tutorial['id']) }}">
    <hr>
    <input type="submit" value="Create Detail Section">
    <label for="title">Title</label>
    <input name="title" id="title" required>
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
    <hr>
</form>

<div id="concept_tutorial_json" concept_tutorial_json="{{ concept_tutorial_json }}"></div>

{% endblock %}

{% block react_imports %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script type="text/javascript">
{% include 'concept_tutorials/update_transpiled.js' %}
</script>

{% endblock %}