{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Diagram Exercise{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">

    <label for="name">Name</label>
    <input name="name" id="name" value="{{ diagram_exercise['name'] }}" required>

    <label for="tag">Tag</label>
    <input name="tag" id="tag" value="{{ diagram_exercise['tag'] }}" required>

    <label for="text">Text</label>
    <input name="text" id="text" value="{{ diagram_exercise['text'] }}" required>

    <hr>
    <p>Current Image</p>
    <image src="data:image/png;base64,{{ diagram_exercise['diagram_image_data'] }}" height="200" width="200"/>
    <br>
    <br>
    <a href="{{ url_for('files.download_file', filename=diagram_exercise['source_code_filename']) }}" download="diagram_exercise_{{ diagram_exercise['id'] }}.{{ source_code_file_extension }}">Download Source Code</a>
    <br>

    <label for="source_code_file">New Source Code File (optional)</label>
    <input type=file name="source_code_file" id="source_code_file">

    <label for="image_file">New Image File (optional)</label>
    <input type=file name="image_file" id="image_file">

    <hr>
    <br>

    <label for="correct_option">Correct Option</label>
    <input name="correct_option" id="correct_option" value="{{ diagram_exercise['correct_option'] }}" required>

    <label for="incorrect_option_1">Incorrect Option 1</label>
    <input name="incorrect_option_1" id="incorrect_option_1" value="{{ diagram_exercise['incorrect_option_1'] }}" required>

    <label for="incorrect_option_2">Incorrect Option 2</label>
    <input name="incorrect_option_2" id="incorrect_option_2" value="{{ diagram_exercise['incorrect_option_2'] }}" required>

    <label for="incorrect_option_3">Incorrect Option 3</label>
    <input name="incorrect_option_3" id="incorrect_option_3" value="{{ diagram_exercise['incorrect_option_3'] }}" required>

    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>


<form action="{{ url_for('exercises.delete', exercise_id=diagram_exercise['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

{% endblock %}






