{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Formula Exercise{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <label for="name">Name</label>
    <input name="name" id="name" value="{{ formula_exercise['name'] }}" required>

    <label for="tag">Tag</label>
    <input name="tag" id="tag" value="{{ formula_exercise['tag'] }}" required>

    <label for="text">Text</label>
    <input name="text" id="text" value="{{ formula_exercise['text'] }}" required>

    <label for="formula_latex">Formula Latex</label>
    <input name="formula_latex" id="formula_latex" value="{{ formula_exercise['formula_latex'] }}" required>

    <label for="correct_option">Correct Option</label>
    <input name="correct_option" id="correct_option" value="{{ formula_exercise['correct_option'] }}" required>

    <label for="incorrect_option_1">Incorrect Option 1</label>
    <input name="incorrect_option_1" id="incorrect_option_1" value="{{ formula_exercise['incorrect_option_1'] }}" required>

    <label for="incorrect_option_2">Incorrect Option 2</label>
    <input name="incorrect_option_2" id="incorrect_option_2" value="{{ formula_exercise['incorrect_option_2'] }}" required>

    <label for="incorrect_option_3">Incorrect Option 3</label>
    <input name="incorrect_option_3" id="incorrect_option_3" value="{{ formula_exercise['incorrect_option_3'] }}" required>

    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>
{% endblock %}
