{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Course{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or course['name'] }}" required>
    <label for="display_name">Display Name</label>
    <input name="display_name" id="display_name" value="{{ request.form['display_name'] or course['display_name'] }}" required>
    <h1>Lessons</h1>
    <hr>
    <br>
    <a class="action" href="{{ url_for('lessons.create') }}?course_id={{ course['id'] }}">Add Lesson For This Course</a>
    <br>
    <div id="react_root"></div>
    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>

    <div id="data_container"
          course="{{ course_json }}" 
          delete_lesson_sequence_item_url="{{ url_for('courses.deleted_lesson_sequence_item', course_id=course['id'], lesson_sequence_item_id=0) }}" 
          update_lesson_url="{{ url_for('lessons.update', id=0) }}/update" ></div>

  <form action="{{ url_for('courses.delete', id=course['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>

  <form name="delete_lesson_sequence_item_form" action="placeholder" method="post">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
  </form>

{% endblock %}

{% block react_imports %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script type="text/javascript">
{% include 'courses/update_transpiled.js' %}
</script>

<script>
 function submitDeleteLessonSequenceItemForm(endpoint) {
  document.delete_lesson_sequence_item_form.action = endpoint;
  document.delete_lesson_sequence_item_form.submit();
 }
</script>

{% endblock %}

