{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ course.get_name() }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or course.get_name() }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
    {% for sequenceItem in course.get_lesson_sequence_items() %}
      <div>
        <h2>{{ sequenceItem.get_lesson().get_name() }}</h2>
      </div>
    {% endfor %}
  <hr>
  <form action="{{ url_for('courses.delete', id=course.get_id()) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
