{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Edit Exercises for Topic: {{ topic['display_name'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="react_exercise_table"></div>
<br>
 <a class="action" href="{{ url_for('exercises.create_formula_exercise', course_id=course_id, topic_id=topic['id']) }}">Add Formula Exercise</a>
<br>

<br>
 <a class="action" href="{{ url_for('exercises.create_diagram_exercise', course_id=course_id, topic_id=topic['id']) }}">Add Diagram Exercise</a>
<br>


<div id="exercises_json_div" exercises="{{ exercises_json }}" ></div>



{% endblock %}


{% block react_imports %}

<script src="{{ url_for('static', filename='react.development.js') }}" crossorigin></script>
<script src="{{ url_for('static', filename='react-dom.development.js') }}" crossorigin></script>

<script type="text/javascript">
{% include 'topics/edit_exercises_transpiled.js' %}
</script>


{% endblock %}

