{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Edit Exercises for Topic: {{ topic['display_name'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="react_exercise_table"></div>
<br>
 <a class="action" href="{{ url_for('exercises.create_formula_exercise', topic_id=topic['id']) }}">Add Formula Exercise</a>
<br>

<br>
 <a class="action" href="{{ url_for('exercises.create_diagram_exercise', topic_id=topic['id']) }}">Add Diagram Exercise</a>
<br>

<br>
<a class="action" href="{{ url_for('topics.edit', topic_id=topic['id']) }}">Back to topic {{ topic['display_name'] }}</a>


<div id="exercises_json_div" exercises="{{ exercises_json }}" ></div>

<div id="edit_formula_exercise_url_div" url="{{ url_for('exercises.edit_formula_exercise', exercise_id=0) }}" ></div>

<div id="edit_diagram_exercise_url_div" url="{{ url_for('exercises.edit_diagram_exercise', exercise_id=0) }}" ></div>



{% endblock %}


{% block react_imports %}

<script src="{{ url_for('static', filename='react.development.js') }}"></script>
<script src="{{ url_for('static', filename='react-dom.development.js') }}"></script>

<script type="text/javascript">
{% include 'topics/edit_exercises_transpiled.js' %}
</script>


{% endblock %}

