{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Edit Image Tutorial Step {% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Current Image</h2>
  <image src="data:image/png;base64,{{ tutorial_step['image_data'] }}" height="200" width="200"/>
  <br>
  <br>
  <a href="{{ url_for('tutorial_steps.download_image_tutorial_step_source_code', tutorial_id=tutorial_id, tutorial_step_id=tutorial_step['id']) }}" download="image_tutorial_step_{{ tutorial_step['id'] }}.{{ source_code_file_extension }}">Download Source Code</a>
  <br>
  <br>
  <form method="post" enctype="multipart/form-data" >
    <label for="display_group">Display Group</label>
    <input name="display_group" id="display_group" value="{{ tutorial_step['display_group'] }}" required>
    <label for="source_code_file">New Source Code File (optional)</label>
    <input type=file name="source_code_file" id="source_code_file">
    <label for="image_file">New Image File (optional)</label>
    <input type=file name="image_file" id="image_file">
    <input type="submit" value="Save">
    <input type="hidden" name="csrf_token" value={{ g.csrf_token }}>
</form>

{% endblock %}
