{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Subjects{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('courses.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for subject in subjects %}
    <article class="post">
      <header>
        <div>
          <h1>{{ subject.get_id() }}</h1>
        </div>
          <a class="action" href="{{ url_for('courses.update', id=subject.get_id()) }}">Edit</a>
      </header>
      <p class="body">{{ subject.get_name() }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
